/* Cores principais*/

:root {
  --azul-calro: #7dd3fc;
  --azul: #38bdf8;
  --fundo: #f4f4ff;
  --texto: #334155;
  --capivara: #b08968;
}

/* Remove configuração padrão do navegador*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo dapágina */
body {
  margin: 0;

  font-family: Inter, sans-serif;

  background: linear-gradient(135deg, #eaf7ff 0%, #f7fcff 40%, #e0f2fe 100%);

  overflow: hidden;
}
/* Area principal*/

.container {
  width: 100vw;
  height: 100vh;

  display: grid;

  grid-template-columns: 1fr 380px;

  grid-template-rows: 80px 1fr 110px;

  grid-template-areas:
    "header header"
    "live chat"
    "footer footer";

  gap: 20px;

  padding: 20px;
}
/*Àrea onde ficará a live*/
.live-panel {
  flex: 1;

  display: flex;

  justify-content: center;
  align-items: center;
}

/*Titulo*/

.live-panel h1 {
  color: var(--azul);

  font-size: 50px;
}

/*Barra lateral do chat*/
.chat-panel {
  width: 350px;

  padding: 20px;
}

/*Caixa do chat*/
.chat {
  height: 100%;

  /*Efeito Vidro */

  background: rgba(255, 255, 255, 0.65);

  backdrop-filter: blur(10px);

  border: 2px solid rgba(125, 211, 252, 0.5);

  border-radius: 25px;

  padding: 20px;

  box-shadow: 0 10px 30px rgba(56, 189, 248, 0.15);
}

/*Titulo*/

.chat h2 {
  color: var(--azul);
}

.message {
  background: linear-gradient(135deg, #e0f2fe, #f0fdfa);

  border-left: 5px solid #38bdf8;

  border-radius: 18px;

  padding: 14px;

  margin-bottom: 12px;
}

/* ===========================
   HEADER
=========================== */

.header {
  grid-area: header;
  box-shadow: 0 15px 35px rgba(56, 189, 248, 0.12);
  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 0 30px;

  background: rgba(255, 255, 255, 0.65);

  backdrop-filter: blur(12px);

  border-radius: 20px;

  border: 1px solid rgba(255, 255, 255, 0.4);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}
/* ===========================
   LIVE
=========================== */

.live-panel {
  grid-area: live;

  background: rgba(255, 255, 255, 0.6);

  backdrop-filter: blur(12px);

  border-radius: 25px;

  border: 1px solid rgba(255, 255, 255, 0.4);

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 52px;

  font-weight: 800;

  letter-spacing: -2px;

  color: #5b7cfd;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}
/* ===========================
   FOOTER
=========================== */

.footer {
  grid-area: footer;

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 20px;
}
.widget {
  background: rgba(255, 255, 255, 0.65);

  backdrop-filter: blur(12px);

  border-radius: 20px;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 28px;

  font-weight: 600;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

  transition: 0.25s;
  cursor: pointer;
}

.widget:hover {
  transform: translateY(-6px);
}
